* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #48484d;
}

.container {
  margin: 0;
  padding: 0;
}

/* logo styles */

.logo {
  color: #fff;
  font-variant: small-caps;
  font-size: 2.8rem;
  margin: 15px 0;
  padding: 0;
}

/* navigation styles */

.navigation-container {
  display: flex;
  justify-content: space-between;
  background-color:rgba(0, 0, 0, 0.44);
  padding: 5px 25px;
}

.navigation-menu {
  display: flex;
  margin: 25px 0 0 0;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
}


/* header styles */ 

.header-container {
  background-image: url("img/mobile-splash-01.jpg");
  background-position: top;
  max-height: 500px;
}

.header-mission-statement {
  color: #fff;
  text-align: center;
  position: relative;
  bottom: 2px;
}

/* services styles */

.services-container {
  display: flex;
  flex-direction: column;
}

#massage-container, #facial-container, #body-work-container, #mani-pedi-container {
  height: 150px;
  padding: 25px;
  margin: 0;
  border-bottom: 3px solid #fff;
  border-top: 3px solid #fff;
  color: #fff;
}

#massage-container {
  background-image: url("img/mobile-services-massage-bg.jpg");
}

#facial-container {
  background-image: url("img/mobile-services-facial-bg.jpg");
}

#body-work-container {
  background-image: url("img/mobile-services-body-work-bg.jpg");
}

#mani-pedi-container {
  background-image: url("img/mobile-services-mani-pedi-bg.jpg");
}

#massage-container:hover, #facial-container:hover, #body-work-container:hover, #mani-pedi-container:hover {
  /*background-image: none;*/
  cursor: pointer;
  color: #000;
}

.services-menu {
  font-size: 3.2rem;
  text-transform: uppercase;
  text-align: right;
  background-color:rgba(0, 0, 0, 0.24);
  padding: 25px;
  margin: 0;
}

/* about styles */

.about-container {
  padding: 5%;
}

.about-container h2 {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.about-container p {
  font-size: 1.8rem;
}


/* footer styles */

.footer-container {
  padding: 5%;
  background-color: #282660;
  color: #fff;
  font-size: 1.9rem;
}

@media only screen and (min-width: 769px) {
  body {
    background-color: lightblue;
  }
}