* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}


/* logo styles */

.logo {
  color: #fff;

}

/* navigation styles */

.navigation-container {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.navigation-menu {
  display: flex;
}

.navigation-menu li {
  list-style-type: none;
}


/* header styles */ 

.header-container {
  background-image: url("img/mobile-splash-01.jpg");
  height: 50%;
}

.header-generic-mission-statement {
  color: #fff;
  text-align: center;
}


/* services styles */

#massage-container {
  height: 25%;
  border-bottom: 1px solid #eee;
}

#facial-container {
  height: 25%;
  border-bottom: 1px solid #eee;
}

#body-work-container {
  height: 25%;
  border-bottom: 1px solid #eee;
}

#mani-pedi-container {
  height: 25%;
  border-bottom: 1px solid #eee;
}